* {
  font-family: "Shadows Into Light", cursive;
  font-weight: light;
  font-size: 9vh;
  text-align: center;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f8f8;
  padding: 10px;
}

p {
  margin: 0;
}

#main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border: 0;
  border-bottom: 1px solid #c5c5c5;
  max-width: 300px;
  outline: none;
  font-size: 0.5em;
  background-color: transparent;
  text-align: left;
}

#main button {
  margin-top: 50px;
  padding: 10px 25px;
  background-color: #5dae8b;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.5em;
  outline: none;
  text-align: center;
  box-shadow: 1px 0 10px 0 grey;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

#main button:hover {
  color: #5dae8b;
  background-color: white;
  box-shadow: 1px 0 12px 0 #5dae8b;
}

#main #message {
  width: 100%;
  min-height: 100px;
  margin-top: 25px;
}
/* 
.change-color {
  color: #5dae8b;
} */
